*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(./Images/ImageDeFond.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color: #fff;
    padding: 0px 20 px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0,0,0,7);
}

.logo span{
    color: rgb(238,56,11);
    font-weight: bold;
    font-size: 2rem;
}

ul {
    list-style: none;
    float: right ;
    display: flex;
    margin-top: 20px;
   
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid  transparent;
    margin: 20px;
    font-weight: 200;
    transition: 0,6s ease;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.sous li{
    float: none;
    width: 200%;
    text-align: Left;
}

.sous a{
    padding: 5px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}

nav > ul li:hover .sous{
    display: block;
}


ul li a:hover{
background-color: #fff;
color: #000;
}

ul li.active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; 
}

.titre h1{
    color: #fff;
    font-size: 70px;
}

.bouton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
}

.btn{
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}