*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(./Images/ImageDeFond.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color: #fff;
    padding: 0px 20 px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0,0,0,7);
}

.logo span{
    color: rgb(238,56,11);
    font-weight: bold;
    font-size: 2rem;
}

ul {
    list-style: none;
    float: right ;
    display: flex;
    margin-top: 20px;
   
}

ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid  transparent;
    margin: 20px;
    font-weight: 200;
    transition: 0,6s ease;
}

nnav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
    margin: 0;
    padding: 0;
  }
  
  nav ul li:hover {
    background: none;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul ul li {
    float: none;
    position: relative;
  }
  
  nav ul ul li a {
    padding: 10px 40px;
    color: #fff;
  }
  
  nav ul ul ul li a {
    padding: 10px 60px;
    color: #fff;
  }
  
  /* Animation */
  nav ul li {
    transition: background-color 0.3s ease;
  }
  
  nav ul ul {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  nav ul li:hover > ul {
    opacity: 1;
  }
  

ul li a:hover{
background-color: #fff;
color: #000;
}

ul li.active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; 
}

.titre h1{
    color: #fff;
    font-size: 70px;
}

.bouton{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;
}

.btn{
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

